/* 
    Document   : f2c
    Created on : 20-Aug-2012, 12:40:39
    Author     : Gareth
    Description:
        Purpose of the stylesheet follows.
*/

.f2c_temp { 
    background-color: #eeeeee;
}

.f2c_temp:hover {
    background-color: #dddddd;
}

